<section>
    <div class="footer" style="background: #282828;">
        <div class="container py-9 px-6 py-md-12 px-md-0 my-md-auto">
            <div class="d-flex flex-column mb-8 flex-md-row justify-content-md-between ">
                <img class="mb-8" src="../assets/images/logo-white.png" alt="logo白" style="max-width: 200px;">
                <ul class="list-unstyled d-grid gap-6 d-md-flex">
                    <li><a class="fs-8 fw-medium link-secondary-0" href="#">常見問題</a></li>
                    <li><a class="fs-8 fw-medium link-secondary-0" href="#">關於我們</a></li>
                    <li><a class="fs-8 fw-medium link-secondary-0" href="#">隱私權政策</a></li>
                    <li><a class="fs-8 fw-medium link-secondary-0" href="#">使用者條款</a></li>
                </ul>
            </div>
            <div
                class="d-flex flex-column align-items-start flex-md-row-reverse justify-content-md-between align-items-md-end">
                <ul class="d-flex list-unstyled gap-4 mb-14 mb-md-0">
                    <li>
                        <div class="rounded-circle border border-1 border-secondary-0 d-flex align-items-center justify-content-center"
                            style="width: 40px;height: 40px;"><i class="bi bi-line text-secondary-0"></i>
                        </div>
                    </li>
                    <li>
                        <div class="rounded-circle border border-1 border-secondary-0 d-flex align-items-center justify-content-center"
                            style="width: 40px;height: 40px;"><i class="bi bi-youtube text-secondary-0"></i>
                        </div>
                    </li>
                    <li>
                        <div class="rounded-circle border border-1 border-secondary-0 d-flex align-items-center justify-content-center"
                            style="width: 40px;height: 40px;"><i class="bi bi-facebook text-secondary-0"></i>
                        </div>
                    </li>
                </ul>
                <span class="fs-9" style="color: #D4D4D4;">copyright © 2024 課程網站 All Rights Reserved.</span>
            </div>
        </div>
    </div>
</section>