<section class="header">
    <div class="container py-3 pt-lg-8 pb-lg-4 ">
        <nav class=" navbar-expand-lg bg-secondary-0 rounded-pill shadow">
            <nav class="navbar ">
                <div class="container-fluid  flex-nowrap">
                    <a class="navbar-brand" href="#"><img class="logo" src="../assets/images/logo.png" alt="logo"></a>
                    <div class=" d-none d-lg-block">
                        <button class="btn border-0 dropdown-toggle " type="button" id="dropdownMenuClickableInside"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            探索
                        </button>
                        <div class="p-0 dropdown-menu position dropdown-div position-absolute">
                            <div class="d-flex bg-secondary-0">
                                <ul class="dropdown-div-nav-1 m-0">
                                    <li class="dropdown-item ps-6 p-3 pointer-none">探索全部</li>
                                    <li class="ps-6 p-3 dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            音樂</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class="ps-6 p-3 dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            攝影</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li
                                        class="ps-6 p-3 active dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            程式</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class="ps-6 p-3 dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            程式</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class="ps-6 p-3 dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            藝術</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class="ps-6 p-3 dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            人文</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class="ps-6 p-3 dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            行銷</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class="ps-6 p-3 dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            投資理財</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class="ps-6 p-3 dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            心靈成長</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class="ps-6 p-3 dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            職場技能</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class="ps-6 p-3 dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            生活品味</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                </ul>
                                <ul class="dropdown-div-nav-2 m-0">
                                    <li class="dropdown-item  pointer-none">所有程式</li>
                                    <li class=" dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            程式入門</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class=" dropdown-item active position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            網頁前端</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class=" dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            網頁後端</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class=" dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            網站架設</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class=" dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            資訊安全</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class=" dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            程式語言</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class=" dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            遊戲開發</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class=" dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            資料科學</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class=" dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            人工智慧</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                    <li class=" dropdown-item position-relative d-flex justify-content-between">
                                        <a class="stretched-link" href="#">
                                            量化分析</a>
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right
                                        </span>
                                    </li>
                                </ul>
                                <ul class="px-6 py-3 dropdown-div-nav-3">
                                    <li
                                        class="mb-4 dropdown-item border-1 border-bottom d-flex pointer-none align-items-center">
                                        <img class="me-2" src="../assets/images/icons/ic_fire.png" alt="火"
                                            style="width: 24px; ">
                                        <h5 class="fs-7">熱門網頁前端課程</h5>
                                    </li>
                                    <li class="dropdown-item p-0 mb-4">
                                        <div class="d-flex pb-6 border-1 border-bottom">
                                            <div class="position-relative  me-2">
                                                <img class="rounded-all" src="../assets/images/course-5.png"
                                                    style="width: 100px; height: 100px;" alt="課程-5">
                                                <span
                                                    class="badge rounded-pill position-absolute bg-alert-10 fs-8 text-alert-100"
                                                    style="left: 4px;top: 4px;">8折</span>
                                            </div>
                                            <div class="d-flex flex-column w-75 ">
                                                <h6 class="fs-7 text-wrap mb-4 text-secondary-100">小白也會！從零開始學習 Python
                                                    程式設計</h6>
                                                <div
                                                    class="d-flex justify-content-between border-1 border-bottom align-items-center">
                                                    <div class="people">
                                                        <img src="../assets/images/avatar-2.png" alt="凱利頭像">
                                                        <span class="text-secondary-80">Kelly Hsu</span>
                                                    </div>
                                                    <div class="d-flex flex-column text-end pb-2 ">
                                                        <span class="text-primary-100 fw-bold">NT$ 2,480</span>
                                                        <span
                                                            class="fs-9 text-secondary-80 text-decoration-line-through ">NT$
                                                            3,200</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="pt-2 pb-2 d-flex justify-content-between align-items-center">
                                                    <span class="secondary-80 fs-8">已有 420 位同學加入</span>
                                                    <div class="d-flex">
                                                        <span
                                                            class="me-1 material-symbols-outlined material-symbols-outlined-full "
                                                            style="color: #F6BD2B;">
                                                            star
                                                        </span>
                                                        <span class="me-1 fs-8 fw-medium text-secondary-100">4.0</span>
                                                        <span class="fs-8 fw-medium text-secondary-60">(333)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown-item p-0 mb-4">
                                        <div class="d-flex pb-6 border-1 border-bottom">
                                            <div class="position-relative  me-2">
                                                <img class="rounded-all" src="../assets/images/course-5.png"
                                                    style="width: 100px; height: 100px;" alt="課程-5">
                                                <span
                                                    class="badge rounded-pill position-absolute bg-alert-10 fs-8 text-alert-100"
                                                    style="left: 4px;top: 4px;">8折</span>
                                            </div>
                                            <div class="d-flex flex-column w-75 ">
                                                <h6 class="fs-7 text-wrap mb-4 text-secondary-100">小白也會！從零開始學習 Python
                                                    程式設計</h6>
                                                <div
                                                    class="d-flex justify-content-between border-1 border-bottom align-items-center">
                                                    <div class="people">
                                                        <img src="../assets/images/avatar-2.png" alt="凱利頭像">
                                                        <span class="text-secondary-80">Kelly Hsu</span>
                                                    </div>
                                                    <div class="d-flex flex-column text-end pb-2 ">
                                                        <span class="text-secondary-60 fw-bold">已購買</span>
                                                        <span
                                                            class="fs-9 text-secondary-80 text-decoration-line-through ">NT$
                                                            3,200</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="pt-2 pb-2 d-flex justify-content-between align-items-center">
                                                    <span class="secondary-80 fs-8">已有 420 位同學加入</span>
                                                    <div class="d-flex">
                                                        <span
                                                            class="me-1 material-symbols-outlined material-symbols-outlined-full "
                                                            style="color: #F6BD2B;">
                                                            star
                                                        </span>
                                                        <span class="me-1 fs-8 fw-medium text-secondary-100">4.0</span>
                                                        <span class="fs-8 fw-medium text-secondary-60">(333)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown-item p-0 mb-4">
                                        <div class="d-flex pb-6 border-1 border-bottom">
                                            <div class="position-relative  me-2">
                                                <img class="rounded-all" src="../assets/images/course-5.png"
                                                    style="width: 100px; height: 100px;" alt="課程-5">
                                                <span
                                                    class="badge rounded-pill position-absolute bg-alert-10 fs-8 text-alert-100"
                                                    style="left: 4px;top: 4px;">8折</span>
                                            </div>
                                            <div class="d-flex flex-column w-75 ">
                                                <h6 class="fs-7 text-wrap mb-4 text-secondary-100">小白也會！從零開始學習 Python
                                                    程式設計</h6>
                                                <div
                                                    class="d-flex justify-content-between border-1 border-bottom align-items-center">
                                                    <div class="people">
                                                        <img src="../assets/images/avatar-2.png" alt="凱利頭像">
                                                        <span class="text-secondary-80">Kelly Hsu</span>
                                                    </div>
                                                    <div class="d-flex flex-column text-end pb-2 ">
                                                        <span class="text-primary-100 fw-bold">NT$ 2,480</span>
                                                        <span
                                                            class="fs-9 text-secondary-80 text-decoration-line-through ">NT$
                                                            3,200</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="pt-2 pb-2 d-flex justify-content-between align-items-center">
                                                    <span class="secondary-80 fs-8">已有 420 位同學加入</span>
                                                    <div class="d-flex">
                                                        <span
                                                            class="me-1 material-symbols-outlined material-symbols-outlined-full "
                                                            style="color: #F6BD2B;">
                                                            star
                                                        </span>
                                                        <span class="me-1 fs-8 fw-medium text-secondary-100">4.0</span>
                                                        <span class="fs-8 fw-medium text-secondary-60">(333)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative d-lg-block d-none" style="width: 40%;">
                        <span class="material-symbols-outlined position-absolute top-50 translate-middle-y"
                            style="left: 12px;">
                            search
                        </span>
                        <form class="d-flex " role="search">
                            <input class="form-control search bg-secondary-0" type="search"
                                placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="Search">
                            <button
                                class="btn btn-primary-100  px-md-2 py-md-2 position-absolute top-50 translate-middle-y"
                                style="right:10px;" type="submit">搜尋</button>
                        </form>
                    </div>
                    <div class="d-flex ms-auto align-bottom me-4 flex-nowrap">
                        <button type="button" class="btn border-0 px-2 py-3 " data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="position-relative">
                                <span class="material-symbols-outlined">
                                    notifications
                                </span>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle p-2 bg-primary-120 border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            </div>
                        </button>
                        <ul class="dropdown-menu notifications rounded-all">
                            <li
                                class="bg-secondary-0 dropdowm-item py-3 px-4 justify-content-end d-flex align-items-center border-1 border-bottom">
                                <span
                                    class="me-3 material-symbols-outlined material-symbols-outlined-full text-primary-100"
                                    style="font-size: 14px;">
                                    check_circle
                                </span>
                                <span class="fs-8 text-primary-100 ">全部標記為已讀</span>
                            </li>
                            <li class="dropdowm-item py-3 px-4 border-1 border-bottom ">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-info-10 d-flex align-items-center justify-content-center me-4"
                                        style="width: 40px; height: 40px;">
                                        <span class="material-symbols-outlined text-info-100  ">
                                            campaign
                                        </span>
                                    </div>
                                    <div class="w-75">
                                        <a href="#">
                                            <p class="mb-2">系統通知：6 月 30 日 02:00 網站系統排程更新</p>
                                            <span class="text-secondary-60 fs-8">4 天前</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdowm-item py-3 px-4 border-1 border-bottom  active">
                                <div class="d-flex align-items-center w-100">
                                    <div class="rounded-circle bg-alert-10 d-flex align-items-center justify-content-center me-4"
                                        style="width: 40px; height: 40px;">
                                        <span class="material-symbols-outlined text-alert-100">
                                            notifications_active
                                        </span>
                                    </div>
                                    <div class="w-75">
                                        <a href="#">
                                            <p class="mb-2">募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！</p>
                                            <span class="text-secondary-60 fs-8">7 天前</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdowm-item py-3 px-4 border-1 border-bottom ">
                                <div class="d-flex align-items-center w-100">
                                    <div class="rounded-circle bg-alert-10 d-flex align-items-center justify-content-center me-4"
                                        style="width: 40px; height: 40px;">
                                        <span class="material-symbols-outlined text-alert-100">
                                            notifications_active
                                        </span>
                                    </div>
                                    <div class="w-75">
                                        <a href="#">
                                            <p class="mb-2">募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！</p>
                                            <span class="text-secondary-60 fs-8">7 天前</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn border-0 px-2 py-3">
                            <div class="position-relative">
                                <span class="material-symbols-outlined">
                                    shopping_cart
                                </span>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary-120">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </div>
                        </button>
                    </div>

                    <button class="btn btn-primary-100 d-none d-lg-block px-0" style="width: 146px;">登入
                        /
                        註冊</button>

                    <button class="navbar-toggler border-0 px-2 py-3" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end d-lg-none vw-100 px-6 py-4" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="nav-overflow">
                            <div class="offcanvas-header p-3 ps-6">
                                <h5 class="offcanvas-title fs-7 fw-normal" id="offcanvasNavbarLabel">探索全部</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body p-0">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item ">
                                        <button type="button" class="nav-btn d-flex w-100 justify-content-between"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickable"
                                            data-bs-auto-close="inside">
                                            音樂
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </button>
                                        <ul class=" dropdown-menu position-absolute top-0 start-0 border-0 w-100 h-100 overflow-scroll"
                                            aria-labelledby="dropdownMenuClickable">
                                            <li class="mb-4">
                                                <div class="d-flex border-1 border-bottom">
                                                    <a class="w-50 text-center py-4 dropdown-item active"
                                                        aria-current="true" href="#">探索</a>
                                                    <a class="w-50 text-center py-4 dropdown-item" href="#">我的會員</a>
                                                </div>
                                            </li>
                                            <ul class="px-6 py-4 list-unstyled">
                                                <li class="mb-2">
                                                    <div
                                                        class="d-flex position-relative border-1 justify-content-center border-bottom rounded-all px-6 py-3 nav-btn">
                                                        <span class="material-symbols-outlined me-auto">
                                                            chevron_left
                                                        </span>
                                                        <a class="stretched-link me-auto" href="#">所有程式</a>
                                                    </div>
                                                </li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式入門</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁前端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁後端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網站架設</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資訊安全</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式語言</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">遊戲開發</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資料科學</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">人工智慧</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">量化分析</a></li>
                                            </ul>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <button type="button" class="nav-btn d-flex w-100 justify-content-between"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickable"
                                            data-bs-auto-close="inside">
                                            攝影
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </button>
                                        <ul class=" dropdown-menu position-absolute top-0 start-0 border-0 w-100 h-100 overflow-scroll"
                                            aria-labelledby="dropdownMenuClickable">
                                            <li class="mb-4">
                                                <div class="d-flex border-1 border-bottom">
                                                    <a class="w-50 text-center py-4 dropdown-item active"
                                                        aria-current="true" href="#">探索</a>
                                                    <a class="w-50 text-center py-4 dropdown-item" href="#">我的會員</a>
                                                </div>
                                            </li>
                                            <ul class="px-6 py-4 list-unstyled">
                                                <li class="mb-2">
                                                    <div
                                                        class="d-flex position-relative border-1 justify-content-center border-bottom rounded-all px-6 py-3 nav-btn">
                                                        <span class="material-symbols-outlined me-auto">
                                                            chevron_left
                                                        </span>
                                                        <a class="stretched-link me-auto" href="#">所有程式</a>
                                                    </div>
                                                </li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式入門</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁前端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁後端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網站架設</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資訊安全</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式語言</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">遊戲開發</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資料科學</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">人工智慧</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">量化分析</a></li>
                                            </ul>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <button type="button" class="nav-btn d-flex w-100 justify-content-between"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickable"
                                            data-bs-auto-close="inside">
                                            程式
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </button>
                                        <ul class=" dropdown-menu position-absolute top-0 start-0 border-0 w-100 h-100 overflow-scroll"
                                            aria-labelledby="dropdownMenuClickable">
                                            <li class="mb-4">
                                                <div class="d-flex border-1 border-bottom">
                                                    <a class="w-50 text-center py-4 dropdown-item active"
                                                        aria-current="true" href="#">探索</a>
                                                    <a class="w-50 text-center py-4 dropdown-item" href="#">我的會員</a>
                                                </div>
                                            </li>
                                            <ul class="px-6 py-4 list-unstyled">
                                                <li class="mb-2">
                                                    <div
                                                        class="d-flex position-relative border-1 justify-content-center border-bottom rounded-all px-6 py-3 nav-btn">
                                                        <span class="material-symbols-outlined me-auto">
                                                            chevron_left
                                                        </span>
                                                        <a class="stretched-link me-auto" href="#">所有程式</a>
                                                    </div>
                                                </li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式入門</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁前端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁後端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網站架設</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資訊安全</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式語言</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">遊戲開發</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資料科學</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">人工智慧</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">量化分析</a></li>
                                            </ul>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <button type="button" class="nav-btn d-flex w-100 justify-content-between"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickable"
                                            data-bs-auto-close="inside">
                                            程式
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </button>
                                        <ul class=" dropdown-menu position-absolute top-0 start-0 border-0 w-100 h-100 overflow-scroll"
                                            aria-labelledby="dropdownMenuClickable">
                                            <li class="mb-4">
                                                <div class="d-flex border-1 border-bottom">
                                                    <a class="w-50 text-center py-4 dropdown-item active"
                                                        aria-current="true" href="#">探索</a>
                                                    <a class="w-50 text-center py-4 dropdown-item" href="#">我的會員</a>
                                                </div>
                                            </li>
                                            <ul class="px-6 py-4 list-unstyled">
                                                <li class="mb-2">
                                                    <div
                                                        class="d-flex position-relative border-1 justify-content-center border-bottom rounded-all px-6 py-3 nav-btn">
                                                        <span class="material-symbols-outlined me-auto">
                                                            chevron_left
                                                        </span>
                                                        <a class="stretched-link me-auto" href="#">所有程式</a>
                                                    </div>
                                                </li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式入門</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁前端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁後端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網站架設</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資訊安全</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式語言</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">遊戲開發</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資料科學</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">人工智慧</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">量化分析</a></li>
                                            </ul>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <button type="button" class="nav-btn d-flex w-100 justify-content-between"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickable"
                                            data-bs-auto-close="inside">
                                            藝術
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </button>
                                        <ul class=" dropdown-menu position-absolute top-0 start-0 border-0 w-100 h-100 overflow-scroll"
                                            aria-labelledby="dropdownMenuClickable">
                                            <li class="mb-4">
                                                <div class="d-flex border-1 border-bottom">
                                                    <a class="w-50 text-center py-4 dropdown-item active"
                                                        aria-current="true" href="#">探索</a>
                                                    <a class="w-50 text-center py-4 dropdown-item" href="#">我的會員</a>
                                                </div>
                                            </li>
                                            <ul class="px-6 py-4 list-unstyled">
                                                <li class="mb-2">
                                                    <div
                                                        class="d-flex position-relative border-1 justify-content-center border-bottom rounded-all px-6 py-3 nav-btn">
                                                        <span class="material-symbols-outlined me-auto">
                                                            chevron_left
                                                        </span>
                                                        <a class="stretched-link me-auto" href="#">所有程式</a>
                                                    </div>
                                                </li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式入門</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁前端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁後端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網站架設</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資訊安全</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式語言</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">遊戲開發</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資料科學</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">人工智慧</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">量化分析</a></li>
                                            </ul>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <button type="button" class="nav-btn d-flex w-100 justify-content-between"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickable"
                                            data-bs-auto-close="inside">
                                            人文
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </button>
                                        <ul class=" dropdown-menu position-absolute top-0 start-0 border-0 w-100 h-100 overflow-scroll"
                                            aria-labelledby="dropdownMenuClickable">
                                            <li class="mb-4">
                                                <div class="d-flex border-1 border-bottom">
                                                    <a class="w-50 text-center py-4 dropdown-item active"
                                                        aria-current="true" href="#">探索</a>
                                                    <a class="w-50 text-center py-4 dropdown-item" href="#">我的會員</a>
                                                </div>
                                            </li>
                                            <ul class="px-6 py-4 list-unstyled">
                                                <li class="mb-2">
                                                    <div
                                                        class="d-flex position-relative border-1 justify-content-center border-bottom rounded-all px-6 py-3 nav-btn">
                                                        <span class="material-symbols-outlined me-auto">
                                                            chevron_left
                                                        </span>
                                                        <a class="stretched-link me-auto" href="#">所有程式</a>
                                                    </div>
                                                </li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式入門</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁前端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁後端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網站架設</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資訊安全</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式語言</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">遊戲開發</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資料科學</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">人工智慧</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">量化分析</a></li>
                                            </ul>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <button type="button" class="nav-btn d-flex w-100 justify-content-between"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickable"
                                            data-bs-auto-close="inside">
                                            行銷
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </button>
                                        <ul class=" dropdown-menu position-absolute top-0 start-0 border-0 w-100 h-100 overflow-scroll"
                                            aria-labelledby="dropdownMenuClickable">
                                            <li class="mb-4">
                                                <div class="d-flex border-1 border-bottom">
                                                    <a class="w-50 text-center py-4 dropdown-item active"
                                                        aria-current="true" href="#">探索</a>
                                                    <a class="w-50 text-center py-4 dropdown-item" href="#">我的會員</a>
                                                </div>
                                            </li>
                                            <ul class="px-6 py-4 list-unstyled">
                                                <li class="mb-2">
                                                    <div
                                                        class="d-flex position-relative border-1 justify-content-center border-bottom rounded-all px-6 py-3 nav-btn">
                                                        <span class="material-symbols-outlined me-auto">
                                                            chevron_left
                                                        </span>
                                                        <a class="stretched-link me-auto" href="#">所有程式</a>
                                                    </div>
                                                </li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式入門</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁前端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁後端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網站架設</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資訊安全</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式語言</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">遊戲開發</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資料科學</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">人工智慧</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">量化分析</a></li>
                                            </ul>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <button type="button" class="nav-btn d-flex w-100 justify-content-between"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickable"
                                            data-bs-auto-close="inside">
                                            投資理財
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </button>
                                        <ul class=" dropdown-menu position-absolute top-0 start-0 border-0 w-100 h-100 overflow-scroll"
                                            aria-labelledby="dropdownMenuClickable">
                                            <li class="mb-4">
                                                <div class="d-flex border-1 border-bottom">
                                                    <a class="w-50 text-center py-4 dropdown-item active"
                                                        aria-current="true" href="#">探索</a>
                                                    <a class="w-50 text-center py-4 dropdown-item" href="#">我的會員</a>
                                                </div>
                                            </li>
                                            <ul class="px-6 py-4 list-unstyled">
                                                <li class="mb-2">
                                                    <div
                                                        class="d-flex position-relative border-1 justify-content-center border-bottom rounded-all px-6 py-3 nav-btn">
                                                        <span class="material-symbols-outlined me-auto">
                                                            chevron_left
                                                        </span>
                                                        <a class="stretched-link me-auto" href="#">所有程式</a>
                                                    </div>
                                                </li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式入門</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁前端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁後端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網站架設</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資訊安全</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式語言</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">遊戲開發</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資料科學</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">人工智慧</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">量化分析</a></li>
                                            </ul>
                                        </ul>
                                    </li>
                                    <li class="nav-item  ">
                                        <button type="button" class="nav-btn d-flex w-100 justify-content-between"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickable"
                                            data-bs-auto-close="inside">
                                            心靈成長
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </button>
                                        <ul class=" dropdown-menu position-absolute top-0 start-0 border-0 w-100 h-100 overflow-scroll"
                                            aria-labelledby="dropdownMenuClickable">
                                            <li class="mb-4">
                                                <div class="d-flex border-1 border-bottom">
                                                    <a class="w-50 text-center py-4 dropdown-item active"
                                                        aria-current="true" href="#">探索</a>
                                                    <a class="w-50 text-center py-4 dropdown-item" href="#">我的會員</a>
                                                </div>
                                            </li>
                                            <ul class="px-6 py-4 list-unstyled">
                                                <li class="mb-2">
                                                    <div
                                                        class="d-flex position-relative border-1 justify-content-center border-bottom rounded-all px-6 py-3 nav-btn">
                                                        <span class="material-symbols-outlined me-auto">
                                                            chevron_left
                                                        </span>
                                                        <a class="stretched-link me-auto" href="#">所有程式</a>
                                                    </div>
                                                </li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式入門</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁前端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁後端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網站架設</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資訊安全</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式語言</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">遊戲開發</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資料科學</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">人工智慧</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">量化分析</a></li>
                                            </ul>
                                        </ul>
                                    </li>
                                    <li class="nav-item  ">
                                        <button type="button" class="nav-btn d-flex w-100 justify-content-between"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickable"
                                            data-bs-auto-close="inside">
                                            職場技能
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </button>
                                        <ul class=" dropdown-menu position-absolute top-0 start-0 border-0 w-100 h-100 overflow-scroll"
                                            aria-labelledby="dropdownMenuClickable">
                                            <li class="mb-4">
                                                <div class="d-flex border-1 border-bottom">
                                                    <a class="w-50 text-center py-4 dropdown-item active"
                                                        aria-current="true" href="#">探索</a>
                                                    <a class="w-50 text-center py-4 dropdown-item" href="#">我的會員</a>
                                                </div>
                                            </li>
                                            <ul class="px-6 py-4 list-unstyled">
                                                <li class="mb-2">
                                                    <div
                                                        class="d-flex position-relative border-1 justify-content-center border-bottom rounded-all px-6 py-3 nav-btn">
                                                        <span class="material-symbols-outlined me-auto">
                                                            chevron_left
                                                        </span>
                                                        <a class="stretched-link me-auto" href="#">所有程式</a>
                                                    </div>
                                                </li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式入門</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁前端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁後端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網站架設</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資訊安全</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式語言</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">遊戲開發</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資料科學</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">人工智慧</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">量化分析</a></li>
                                            </ul>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <button type="button" class="nav-btn d-flex w-100 justify-content-between"
                                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickable"
                                            data-bs-auto-close="inside">
                                            生活品味
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </button>
                                        <ul class=" dropdown-menu position-absolute top-0 start-0 border-0 w-100 h-100 overflow-scroll"
                                            aria-labelledby="dropdownMenuClickable">
                                            <li class="mb-4">
                                                <div class="d-flex border-1 border-bottom">
                                                    <a class="w-50 text-center py-4 dropdown-item active"
                                                        aria-current="true" href="#">探索</a>
                                                    <a class="w-50 text-center py-4 dropdown-item" href="#">我的會員</a>
                                                </div>
                                            </li>
                                            <ul class="px-6 py-4 list-unstyled">
                                                <li class="mb-2">
                                                    <div
                                                        class="d-flex position-relative border-1 justify-content-center border-bottom rounded-all px-6 py-3 nav-btn">
                                                        <span class="material-symbols-outlined me-auto">
                                                            chevron_left
                                                        </span>
                                                        <a class="stretched-link me-auto" href="#">所有程式</a>
                                                    </div>
                                                </li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式入門</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁前端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網頁後端</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">網站架設</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資訊安全</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">程式語言</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">遊戲開發</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">資料科學</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">人工智慧</a></li>
                                                <li class="nav-btn position-relative"><a class="stretched-link"
                                                        href="#">量化分析</a></li>
                                            </ul>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="position-absolute w-100 bottom-0 start-0 px-6 py-3 border-1 border-top">
                            <a class="btn  btn-primary-100 d-block">登入
                                /
                                註冊</a>
                        </div>
                    </div>
                </div>
            </nav>
        </nav>
    </div>
</section>